:root {
  --mainRed: #c2185b;
  --lightRed: #f8bbd0;
  --mainWhite: #ffffff;
  --mainDark: #212121;
  --mainBlue: #00bcd4;
}

body {
  font-family: sans-serif !important ;
  background: rgb(236, 224, 224) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "MuseoModerno", cursive !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-red {
  color: var(--mainRed);
}
.text-bright {
  color: var(--lightRed);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainRed) !important ;
}

.btn-black:hover {
  background: var(--mainRed) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainBlue);
}
